body {
	background: white;
}

footer {
	color: black;
}

.container {
	width: 100%;
	border-radius: 0;
	margin: 0;
}

.cake, .map {
	border-radius: 0;
}


aside.right {
	text-align: center;
	float: inherit;
	margin-bottom: 20px;
}

aside.left {
	text-align: center;
	float: inherit;
	margin-bottom: 20px;
}

.contact {
	text-align: center;
}